@font-face {
  font-family: "Orkney";
  src: url('../fonts/orkney-bold.woff') format("woff");
  font-weight: 700;
}
@font-face {
  font-family: 'Orkney';
  src: url('../fonts/orkney-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "Wigrum";
  src: url('../fonts/Wigrum-Bold.otf') format('otf');
  font-weight: 700;
}
@font-face {
  font-family: "Wigrum";
  src: url('../fonts/Wigrum-Medium.otf') format('otf');
  font-weight: 500;
}
@font-face {
  font-family: "Wigrum";
  src: url('../fonts/Wigrum-Regular.otf') format('otf');
  font-weight: 400;
}
