@font-face {
  font-family: "Orkney";
  src: url('../../fonts/orkney-bold.woff') format("woff");
}
@font-face {
  font-family: 'Orkney';
  src: url('../../fonts/orkney-regular.woff') format('woff');
}
@font-face {
  font-family: "Wigrum";
  src: url('../../fonts/Wigrum-Bold.otf') format('otf');
}
@font-face {
  font-family: "Wigrum";
  src: url('../../fonts/Wigrum-Medium.otf') format('otf');
}
@font-face {
  font-family: "Wigrum";
  src: url('../../fonts/Wigrum-Regular.otf') format('otf');
}
