*,
*::after,
*::before {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $bodyFontFamily;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: $headingFontFamily;
  font-weight: 700;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}
