.main-nav {
  padding-top: 4rem;
  position: relative;

  @include breakpoint (mobile) {
    padding: 2rem 2rem 0;
  }

  @include breakpoint (smallTablet) {
    padding: 4rem 2rem 0;
  }

  @include breakpoint (desktop) {
    padding: 4rem 0 0;
  }

  .social-media {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 2;
    right:-60px;
    display: flex;

    @include breakpoint (mobile) {
      right: -40px;
    }

    @include breakpoint (smallTablet) {
      right: -60px;
    }

    a {
      color: $socialLink;
      font-size: 1vw;
      padding-left: 2vw;
      font-family: $headingFontFamily;
      font-weight: 500;

      @include breakpoint (mobile) {
        font-size: 1.8vw;
      }

      @include breakpoint (smallTablet) {
        font-size: 1.5vw;
      }

      @include breakpoint (tablet) {
        font-size: 1.2vw;
      }

      @include breakpoint (laptop) {
        font-size: 1vw;
      }

      &:hover {
        color: $navActiveLink;
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {

      @include breakpoint (mobile) {
        display: block;
        width: 20px;
        height: 20px;
      }

      @include breakpoint (smallTablet) {
        display: none;
      }
      .burger-lines {

        @include breakpoint (mobile) {
          background: $navLogo;
          margin: 3px 0;
          width: 100%;
          height: 2px;
        }
      }
    }

    .navbar-logo {
      a {
        display: inline-block;

        h1 {
          font-size: 3.5vw;
          color: $navLogo;
          font-family: $headingFontFamily;
          font-weight: 500;

          @include breakpoint (mobile) {
            font-size: 4.5vw;
          }

          @include breakpoint (smallTablet) {
            font-size: 4vw;
          }
        }
      }
    }

    .navbar-nav {
      display: flex;
      justify-content: space-between;

      @include breakpoint (mobile) {
        display: none;
      }

      @include breakpoint (smallTablet) {
        display: flex;
      }

      .navbar-link {
        padding-right: 30px;

        &:nth-child(4) {
          padding-right: 0;
        }

        a {
          font-size: 18px;
          color: $navLink;
          display: inline-block;
          font-family: $bodyFontFamily;
          font-weight: 400;

          @include breakpoint (smallTablet) {
            font-size: 16px;
          }

          @include breakpoint (tablet) {
            font-size: 18px;
          }

          @include breakpoint (desktop) {
            font-size: 20px;
          }

          &:hover {
            color: $navActiveLink;
          }
        }
      }
    }
  }
}
