.blog{
  background: $blogBg;
  padding: 164px 199px 0 0;
  position: relative;
  z-index: 1;

  .blog-content{
    display: flex;
    &::before{
      content: 'Studio';
      position: absolute;
      left: 97px;
      top: 60px;
      font-size: 225px;
      line-height: 125px;
      z-index: -1;
      color: rgba(95,95,95,0.53);
    }

    .left-part{
      width: 683px;
      height: 1024px;
      margin-left: -1px;
      img{
        width:100%;
        height: 100%;
      }
    }
    .right-part{
      padding: 123px 0 0 124px;
      height: 100%;

      h2{
        font-size: 60px;
        line-height: 63px;
        color: $blogHeading;
      }
      h5{
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        color:$blogSmallHeading;
        margin-bottom: 70px;
      }
      p{
        font-size: 18px;
        line-height: 22px;
        color:$blogParagraf;
        width: 435px;
      }
    }
  }
}
@media (max-width:1200px){
  .blog{
    padding: 164px 110px 0 0;
  }
}
