.service{

  .service-intro{

    h1{
      font-size: 232px;
      line-height: 125px;
      margin-left: 100px;
      margin-top: 135px;
      color:$serviceIntro;
    }
  }

  .service-content{
    display: flex;
    flex-direction: row;
    padding: 277px 305px 200px 198px;

    .left-part{
      margin-top: 6px;
      height: 263px;
      width: 437px;

      p{
        margin: 0;
        color:$serviceLink;
        font-size: 18px;
        line-height: 26px;
      }
    }
    .right-part{
      position: relative;
      margin-left: 100px;
      display: block;
      p{
        margin: 0;
        color: $serviceParagraf;
        font-size: 18px;
        line-height: 26px;
        width: 400px;
        height: 182px;
      }
    }
  }
}
