main {
  display: flex;
  justify-content: flex-end;

  section {
    flex-basis: 70%;

    .blog-heading {
      margin-top: 7vw;

      h4 {
        font-size: 1.3vw;
        color: $blogSmallHeading;
        font-weight: 500;
        font-family: $headingFontFamily;

        span {
          color: $blogHeadingSpan;
        }
      }

      h2{
        font-size: 3.5vw;
        margin: 1vw 0 3.5vw 0;
        color: $blogSmallHeading;
        font-family: $headingFontFamily;
        font-weight: 500;
      }
    }

    .blog-img {
      position: relative;

      &::before {
        position: absolute;
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.';
        bottom: 0;
        left: -15vw;
        color: $blogText;
        width: 11vw;
        padding-bottom: 16px;
        border-bottom: 1px solid #CECFCA;
        font-family: $bodyFontFamily;
        font-weight: 400;
        font-size: 1.1vw;
      }

      img{
        flex-basis: 100%;
        height: auto;
      }
    }

    .blog-text {
      width: 60%;
      margin: 3vw 0 15vw 0;

      p{
        padding: 10px 0;
        font-size: 1.3vw;
        font-family: $bodyFontFamily;
        font-weight: 400;
        color: $blogText;
      }

      .next-blog {
        margin-top: 20vw;
        display: flex;
        justify-content: flex-end;

        .next-content {

          h5 {
            color: $blogSmallHeading;
            font-family: $headingFontFamily;
            font-weight: 500;
            font-size: 1.1vw;
          }

          p {
            font-size: 1.1vw;
            font-family: $bodyFontFamily;
            font-weight: 400;
            padding: 16px 0;
          }
        }

      }
    }
  }
}
