$serviceHomeHeading: #ffffff;
$serviceHomeBg: #252525;
$serviceHomeParagraf: #5F5F5F;

//form
$serviceFormBg: #ECE9E4;
$serviceFormHeader: #5F5F5F;
$serviceFormParagraf: #BDBDBD;
$serviceForm: #BDBDBD;
