.footer {
  display: flex;
  background: $footerBg;
  height: 532px;

  .footer-content {
    width: 25%;
    padding: 153px 50px 0 100px;
    position: relative;

    .privacy {
      display: flex;
      position: absolute;
      bottom: 36px;
      right: 50px;

      p {
        font-size: 12px;
        line-height: 18px;
        color: $privacyParagraf;

        span {
          font-size: 12px;
          line-height: 18px;
          margin-left: 27px;
          color: $privacyParagraf;
        }
      }
    }

    h5 {
      color: $footerHeading;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 10px;

    }

    p {
      font-size: 18px;
      line-height: 23px;
      color: $footerParagraf;

      &:nth-child(2) {
        margin-bottom: 77px;
      }
    }

    a {
      display: block;
      color: $footerParagraf;
      font-size: 18px ;
      line-height: 23px;
    }

    h4 {
      font-size: 24px;
      line-height: 29px;
      color: $footerHeading;
    }
  }
}

@media (max-width: 1200px) {
  .footer {

    .footer-content {
      padding: 153px 40px 0 70px;

      h4 {
        font-size: 20px;
      }
    }
  }
}
