nav{
  height: 124px;
  .navbar{
    display: flex;
    height: 100%;
    .navbar-logo{
      a{
        display: block;
        h1{
          font-size: 48px;
          margin-top: 66px;
          margin-left: 97px;
          color: $navLogo;
          line-height: 58px;
        }
      }
    }
    .navbar-nav{
      display: flex;
      justify-content: flex-end;
      margin-top: 88px;
      margin-right: 87px;
      width: 100%;
      li{
        display: inline;
        a{
          font-size: 18px;
          margin-right: 37.67px;
          line-height: 22px;
          color:$navLink;
          display: block;
          &:nth-child(4){
            margin-right: 0;
          }
        }
      }
    }
  }
}
