nav {
  padding: 66px 98px 0 97px;

  .navbar {
    display: flex;

    .navbar-logo {

      a {
        display: block;

        h1 {
          font-size: 48px;
          color: $navLogo;
          line-height: 58px;
        }
      }
    }

    .navbar-nav {
      display: flex;
      justify-content: flex-end;
      margin-top: 22px;
      width: 100%;

      li {
        padding-right: 37.67px;

        &:nth-child(4) {
          padding-right: 0;
        }

        a {
          font-size: 18px;
          line-height: 23px;
          color: $navLink;
          display: block;
        }
      }
    }
  }
}
@media (max-width: 1200px) {

  nav {
    padding: 56px 70px 0 70px;
  }
}
@media (max-width: 992px) {

  nav {
    padding: 56px 40px 0 40px;

    .navbar {

      .navbar-logo {

        a {

          h1{
            font-size: 40px;
          }
        }
      }

      .navbar-nav {

        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
    }
}

