// Global
$bodyFontFamily: 'Orkney', sans-serif;
$headingFontFamily: 'Wirgnum', sans-serif;

// navigation
$navBg:#ffffff;
$navLogo:#525252;
$navLink:#5C5C5C;
$navActiveLink: #CECFCA;
$socialLink: #5F5F5F;

// Home
$introHeading:#5F5F5F;
$introLine:#5F5F5F;
$introLinks:#5F5F5F;

// Service
$serviceIntro:rgba(95,95,95,0.07);
$serviceHeading:#B4B4B4;
$serviceSpan:#646464;
$serviceBtn:#6A6A6A;

// Blog
$blogBg:#252525;
$blogHeading:#CECFCA;
$blogBigHeading:rgba(95,95,95,0.53);
$blogSmallHeading:#525252;
$blogParagraf:#AAAAAA;

// Subscribe
$subscibeHeading:#757575;
$subscibeBg:#ECE9E4;
$subscibeParagraf:#AAAAAA;
$subscibeFormtext:#AAAAAA;
$subscibeBorder:#BDBDBD;
$subscibeBtn:#5F5F5F;

// Footer
$footerBg:#252525;
$footerHeading:#5F5F5F;
$footerParagraf:#CECFCA;
$topBtnBg:#ffffff;
$privacyParagraf:#5F5F5F;
$footerHover: #CECFCA;

// service page variables
$serviceHomeHeading: #ffffff;
$serviceHomeBg: #252525;
$serviceHomeParagraf: #5F5F5F;

//form
$serviceFormBg: #ECE9E4;
$serviceFormHeader: #5F5F5F;
$serviceFormParagraf: #BDBDBD;
$serviceForm: #BDBDBD;

// blog variables

$blogSmallHeading: #5F5F5F;
$blogHeadingSpan: #BDBDBD;
$blogText: #5F5F5F;
