@font-face {
  font-family: "Orkney";
  src: url('./orkney-bold.woff') format("woff");

  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Orkney';
  src: url('./orkney-regular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

