$navBg:#ffffff;
$navLogo:#525252;
$navLink:#5C5C5C;
$introHeading:#5F5F5F;
$introLine:#5F5F5F;
$serviceIntro:rgba(95,95,95,0.07);
$serviceLink:#8C8C8C;
$serviceParagraf:#757575;
$serviceBtn:#6A6A6A;
$blogBg:#252525;
$blogHeading:#CECFCA;
$blogSmallHeading:#525252;
$blogParagraf:#CECFCA;
$subscibeHeading:#757575;
$subscibeBg:#ECE9E4;
$subscibeParagraf:#AAAAAA;
