.service-btn {
  font-size: 1.5vw;
  color: $serviceBtn;
  background: transparent;
  border: none;
  display: block;
  margin: 44px auto 317px auto;
  cursor: pointer;
  font-family: $bodyFontFamily;
  font-weight: 400;

  svg{
    margin-left: 13px;
  }
}

.form-btn {
  margin-top: 41px;
  background: transparent;
  font-size: 18px;
  line-height: 23px;
  color: $serviceBtn;
  border: none;
  float: right;
  cursor: pointer;

  svg {
    margin-left: 13px;
  }
}

.top-button {
  width: 25%;
  background: $topBtnBg;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  a {
    display: block;
  }
}
