.service-btn {
  font-size: 1.125rem;
  color: $serviceBtn;
  background: transparent;
  border: none;
  display: block;
  margin: 44px auto 22vw auto;
  cursor: pointer;
  font-family: $bodyFontFamily;
  font-weight: 400;

  svg{
    margin-left: 13px;
  }
}

.form-btn {
  margin-top: 41px;
  background: transparent;
  font-size: 1.125rem;
  text-align: right;
  flex-basis: 40%;
  color: $serviceBtn;
  border: none;
  float: right;
  cursor: pointer;

  svg {
    margin-left: 13px;
  }
}

.top-button {
  flex-basis: 25%;
  background: $topBtnBg;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include breakpoint (mobile) {
    flex-basis: 100%;
    padding:20px 0;
  }

  @include breakpoint (smallTablet) {
    flex-basis: 100%;
    padding: 20px 0;
  }

  @include breakpoint (tablet) {
    flex-basis: 25%;
    padding: 0;
  }

  a {
    display: block;
  }
}

.service-form-btn {
  margin-top: 41px;
  background: transparent;
  font-size: 1.125rem;
  text-align: right;
  color: $serviceForm;
  border: none;
  cursor: pointer;

  svg {
    margin-left: 13px;
  }
}
