.footer {
  display: flex;
  background: $footerBg;

  .footer-content {
    flex-basis: 25%;
    padding: 9vw 4vw 9vw 4vw;
    position: relative;

    .privacy {
      display: flex;
      position: absolute;
      bottom: 36px;
      right: 4vw;

      p {
        font-size: 1vw;
        font-family: $bodyFontFamily;
        color: $privacyParagraf;
        font-weight: 400;

        span {
          font-size: 1vw;
          margin-left: 1.6vw;
          color: $privacyParagraf;
          font-family: $bodyFontFamily;
          font-weight: 400;
        }
      }
    }

    h5 {
      color: $footerHeading;
      font-size: 1vw;
      margin-bottom: 10px;
      font-family: $headingFontFamily;
      font-weight: 400;
    }

    p {
      font-size: 1.3vw;
      color: $footerParagraf;
      font-family: $bodyFontFamily;
      font-weight: 400;

      &:nth-child(2) {
        margin-bottom: 77px;
      }
    }

    a {
      display: block;
      color: $footerParagraf;
      font-size: 1.3vw ;
    }

    h4 {
      font-size: 1.6vw;
      color: $footerHeading;
      font-family: $bodyFontFamily;
      font-weight: 400;
    }
  }
}

