.main-nav {
  padding-top: 4rem;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      a {
        display: inline-block;

        h1 {
          font-size: 3.5vw;
          color: $navLogo;
          font-family: $headingFontFamily;
          font-weight: 500;
        }
      }
    }

    .navbar-nav {
      display: flex;
      justify-content: space-between;

      li {
        padding-right: 30px;

        &:nth-child(4) {
          padding-right: 0;
        }

        a {
          font-size: 1.3vw;
          color: $navLink;
          display: inline-block;
          font-family: $bodyFontFamily;
          font-weight: 400;

          &:hover {
            color: $navActiveLink;
          }
        }
      }
    }
  }
}
