.main-nav {
  padding-top: 4rem;

  @include breakpoint (mobile) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  @include breakpoint (smallTablet) {
    padding: 4rem 2rem 0 2rem;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {

      @include breakpoint (mobile) {
        display: block;
        width: 20px;
        height: 20px;
      }

      @include breakpoint (smallTablet) {
        display: none;
      }
      .burger-lines {

        @include breakpoint (mobile) {
          background: $navLogo;
          margin: 3px 0;
          width: 100%;
          height: 2px;
        }
      }

    }

    .navbar-logo {
      a {
        display: inline-block;

        h1 {
          font-size: 3.5vw;
          color: $navLogo;
          font-family: $headingFontFamily;
          font-weight: 500;

          @include breakpoint (smallTablet) {
            font-size: 4vw;
          }

          @include breakpoint (mobile) {
            font-size: 4.5vw;
          }
        }
      }
    }

    .navbar-nav {
      display: flex;
      justify-content: space-between;

      @include breakpoint (mobile) {
        display: none;
      }

      @include breakpoint (smallTablet) {
        display: flex;
      }

      li {
        padding-right: 30px;

        &:nth-child(4) {
          padding-right: 0;
        }

        a {
          font-size: 18px;
          color: $navLink;
          display: inline-block;
          font-family: $bodyFontFamily;
          font-weight: 400;

          @include breakpoint (smallTablet) {
            font-size: 16px;
          }

          @include breakpoint (tablet) {
            font-size: 18px;
          }

          @include breakpoint (desktop) {
            font-size: 20px;
          }

          &:hover {
            color: $navActiveLink;
          }
        }
      }
    }
  }
}
.social-media {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 2;
  display: none;
}
