.blog {
  background: $blogBg;
  position: relative;

  .blog-content {
    display: flex;
    justify-content: space-between;

    @include breakpoint (mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    @include breakpoint (smallTablet) {
      flex-wrap: nowrap;
    }

    .left-part {
      flex-basis: 45%;
      padding-top: 24vw;
      z-index: 1;

      @include breakpoint (mobile) {
        flex-basis: 90%;
        margin: 0 auto;
      }

      @include breakpoint (smallTablet) {
        flex-basis: 45%;
        margin: 0;
      }

      &::before {
        content: 'Studio';
        position: absolute;
        font-size: 16vw;
        color: $blogBigHeading;
        top: 11vw;
        left: 5vw;
        z-index: -1;
        font-family: $headingFontFamily;
        font-weight: 500;
      }
    }

    .right-part {
      flex-basis: 50%;
      padding: 30vw 13vw 0 0;

      @include breakpoint (mobile) {
        padding: 20px 0 0;
        flex-basis: 90%;
        margin: 0 auto;
      }

      @include breakpoint (smallTablet) {
        padding-top: 27vw;
        flex-basis: 50%;
        padding-right: 6vw;
      }

      @include breakpoint (tablet) {
        padding-top: 30vw;

      }



      h2 {
        font-size: 4vw;
        line-height: 1.1;
        color: $blogHeading;
        font-family: $headingFontFamily;
        font-weight: 500;

        @include breakpoint (mobile) {
          text-align: left;
          font-size: 6.3vw;
        }
      }

      h5 {
        margin-top: 20px;
        font-size: 18px;
        color: $blogSmallHeading;
        margin-bottom: 4.3vw;
        font-family: $headingFontFamily;
        font-weight: 500;

        @include breakpoint (mobile) {
          font-size: 14px;
        }

        @include breakpoint (smallTablet) {
          margin-top: 15px;
          font-size: 16px;
          margin-bottom: 3.5vw;
        }

        @include breakpoint (tablet) {
          margin-top: 20px;
          font-size: 18px;
          margin-bottom: 4.3vw;
        }

        @include breakpoint (desktop) {
          font-size: 20px;
        }
      }

      p {
        font-size: 18px;
        color: $blogParagraf;
        font-family: $bodyFontFamily;
        font-weight: 400;
        line-height: 1.2;
        text-align: justify;

        @include breakpoint (smallTablet) {
          font-size: 16px;
          line-height: 1.2;
        }

        @include breakpoint (tablet) {
          font-size: 18px;
          line-height: 1.2;
        }

        @include breakpoint (desktop) {
          font-size: 20px;
          line-height: 1.3;
        }

        @include breakpoint (mobile) {
          font-size: 14px;
        }
      }
    }
  }
}
