.blog {
  background: $blogBg;
  padding: 264px 189px 0 0;
  position: relative;
  z-index: 1;

  .blog-content {
    display: flex;

    &::before {
      content: 'Studio';
      position: absolute;
      left: 90px;
      top: 166px;
      font-size: 232px;
      line-height: 125px;
      z-index: -1;
      color: $blogBigHeading;
    }

    .left-part {
      width: 683px;
      height: 1024px;
      margin-left: -1px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .right-part {
      padding: 123px 0 0 124px;
      height: 100%;

      h2 {
        font-size: 60px;
        line-height: 63px;
        color: $blogHeading;
      }

      h5 {
        margin-top: 20px;
        font-size: 18px;
        line-height: 23px;
        color: $blogSmallHeading;
        margin-bottom: 70px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        color: $blogParagraf;
        width: 435px;
      }
    }
  }
}
@media (max-width: 1200px) {

  .blog {
    padding: 190px 70px 0 0;

    .blog-content {

      &::before {
        top: 80px;
        left: 70px;
        font-size: 210px;
      }

      .right-part {
        padding: 123px 0 0 100px;

        h2{
          font-size: 55px;
        }

        h5{
          font-size: 18px;
        }

        p{
          font-size: 18px;
          width: 370px;
        }
      }
    }
  }
}
@media (max-width: 992px) {

  .blog {
    padding: 140px 40px 0 0;

    .blog-content {

      &::before {
        top: 60px;
        left: 40px;
        font-size: 170px;
      }

      .right-part {
        padding: 123px 0 0 60px;

        h2{
          font-size: 50px;
        }

        h5{
          font-size: 16px;
        }

        p{
          font-size: 16px;
        }
      }
    }
  }
}
