.home {
  background: $navBg;

  .home-into {
    margin: 6.5rem 0 8.5rem;

    h1 {
      font-size: 9vw;
      color: $introHeading;
      line-height: 1;
      font-family: $headingFontFamily;
      font-weight: 500;
    }
  }

  .home-img {
    flex-basis: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 87px;
      background: $introLine;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      max-width: 100%;
    }
  }
}
