.home {
  background: $navBg;

  .home-into {
    padding: 107px 0 140px 94px;
    position: relative;

    h1 {
      font-size: 130px;
      color: $introHeading;
      line-height: 118px;
    }

    a {
      position: absolute;
      right: 54px;
      bottom: 29px;
      transform: rotate(90deg);
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      color: $introLinks;
    }
  }
  .home-img {
    width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 81px;
      width: 1px;
      background: $introLine;
      transform-origin: top;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      position: absolute;
      top: 40px;
      right: 47px;
      transform: rotate(90deg);
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      color: $introLinks;
    }
  }
}
@media (max-width: 1200px) {
  .home {

    .home-into {
      padding: 107px 0 140px 70px;

      h1 {
        font-size: 105px;

      }

      a {
        font-size: 12px;
        right: 34px;
      }
    }

    .home-img {

      a{
        right: 26px;
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 992px) {
  .home {

    .home-into {
      padding: 97px 0 120px 40px;

      h1 {
        font-size: 85px;

      }

      a {
        right: 14px;
        font-size: 12px;
      }
    }

    .home-img {

      a{
        right: 6px;
        font-size: 12px;
      }
    }
  }
}

