.service {
  padding: 20vw 0 0 0;
  position: relative;

  &::before {
    content: 'Services';
    position: absolute;
    font-size: 16vw;
    color: $serviceIntro;
    right: 0;
    top: 7vw;
    font-family: $headingFontFamily;
    font-weight: 500;
  }

  .service-content {

    h2 {
      text-align: center;
      font-size: 4vw;
      line-height: .9;
      color: $serviceHeading;
      font-family: $headingFontFamily;
      font-weight: 500;

      span {
        font-size: 6vw;
        color: $serviceSpan;

        &:last-of-type {
          font-size: 8vw;
        }
      }
    }
  }
}
