.subscribe {
  margin-top: -1px;
  position: relative;
  background: $blogBg;
  padding: 17vw 0 0 20vw;
  z-index: 1;

  @include breakpoint (smallTablet) {
    padding: 17vw 0 0;
  }

  @include breakpoint (tablet) {
    padding: 17vw 0 0 20vw;
  }

  .subscribe-content {
    background: $subscibeBg;
    padding: 7.5vw 7.5vw;
    display: flex;

    &::before {
      position: absolute;
      content: 'Subscribe';
      top: 5vw;
      left: 5vw;
      color: rgba(95,95,95,0.53);
      font-size: 16vw;
      z-index: -1;
      font-family: $headingFontFamily;
      font-weight: 500;
    }

    .left-part {
      flex-basis: 100%;

      h4 {
        text-align: left;
        color: $subscibeHeading;
        font-size: 1.6vw;
        margin-bottom: 14px;
        font-family: $headingFontFamily;
        font-weight: 500;

        @include breakpoint (smallTablet) {
          font-size: 2.4vw;
        }
      }

      p {
        margin: 20px 0;
        font-size: 18px;
        color: $subscibeParagraf;
        font-family: $bodyFontFamily;
        font-weight: 400;
        line-height: 1.2;

        @include breakpoint (smallTablet) {
          font-size: 16px;
        }

        @include breakpoint (tablet) {
          font-size: 18px;
        }

        @include breakpoint (desktop) {
          font-size: 20px;
        }
      }
    }

    .right-part {
      flex-basis: 100%;
      padding: 6.5vw 0 0 8vw;

      form {

        input {
          background: transparent;
          border: none;
          width: 100%;

          &[type="text"] {
            font-size: 18px;
            font-family: $bodyFontFamily;
            font-weight: 400;
            color: $subscibeFormtext;
            border-bottom: 1px solid $subscibeBorder;

            @include breakpoint (smallTablet) {
              font-size: 16px;
            }

            @include breakpoint (tablet) {
              font-size: 18px;
            }

            @include breakpoint (desktop) {
              font-size: 20px;
            }
          }

          &:nth-child(2) {
            margin-top: 22px;
          }
        }
      }
    }
  }
}
