.subscribe {
  position: relative;
  background: $blogBg;
  padding: 199px 0 0 292px;
  z-index: 1;

  .subscribe-content {
    background: $subscibeBg;
    display: flex;
    padding: 109px 112px 115px 112px;

    &::before {
      position: absolute;
      content: 'Subscribe';
      top: 101px;
      left: 90px;
      color: rgba(95,95,95,0.53);
      font-size: 225px;
      line-height: 125px;
      z-index: -1;
    }

    .left-part {

      h4 {
        text-align: left;
        color: $subscibeHeading;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 24px;
      }

      p {
        width: 455px;
        font-size: 18px;
        line-height: 23px;
        color: $subscibeParagraf;
      }
    }

    .right-part {
      padding: 90px 0 0 112px;

      form {

        input {
          background: transparent;
          border: none;
          width: 100%;

          &[type="text"] {
            font-size: 18px;
            line-height: 23px;
            color: $subscibeFormtext;
            border-bottom: 1px solid $subscibeBorder;
          }

          &:nth-child(2) {
            margin-top: 22px;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {

  .subscribe {
    padding: 199px 0 0 200px;

    .subscribe-content {
      padding: 90px 80px 115px 80px;

      &::before {
        font-size: 160px;
      }

      .left-part {

        p {
          width: 350px;
        }
      }

      .right-part {
        padding: 80px 0 0 70px;
      }
    }
  }
}
@media (max-width: 992px) {

  .subscribe {
    padding: 170px 0 0 100px;

    .subscribe-content {
      padding: 70px 80px 80px 40px;

      &::before {
        left: 40px;
        top: 70px;
        font-size: 160px;
      }

      .left-part {

        h4 {
          font-size: 22px;
        }

        p {
          width: 320px;
          font-size: 16px;
        }
      }

      .right-part {
        padding: 80px 0 0 70px;

        form {

          input {
            background: transparent;
            border: none;
            width: 100%;

            &[type="text"] {
              font-size: 16px;
              line-height: 23px;
              color: $subscibeFormtext;
              border-bottom: 1px solid $subscibeBorder;
            }

            &:nth-child(2) {
              margin-top: 22px;
            }
          }
        }
      }
    }
  }
}
