// main heading
$blogPageMainHeading: #bdbdbd;

//main content
$blogPageSmallHeading: #5F5F5F;
$blogPageSmallHeadingSpan: #BDBDBD;
$blogPageBigHeading: #5F5F5F;
$blogPageLine: #BDBDBD;

// nav link
$blogPageNavLink: #5F5F5F;
$blogPageNavLinkActive: #BDBDBD;

// blog single
