.service-home-img {
  margin-top: 4.5vw;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .service-home-content {
    position: absolute;
    left: 2rem;
    top: 11vw;

    h1 {
      color: $serviceHomeHeading;
      font-size: 9vw;
      font-family: $headingFontFamily;
      margin-bottom: 3.4vw;
    }

    .service-home-box {
      background: $serviceHomeBg;
      width: 40vw;
      padding: 6.5vw 5vw 10vw 6vw;

      @include breakpoint (mobile) {
        width: 70%;
      }

      @include breakpoint (smallTablet) {
        width: 40vw;
        height: 40vw;
      }

      p {
        font-size: 2.6vw;
        color: $serviceHomeHeading;

        @include breakpoint (mobile) {
          font-size: 2.7vw;
        }

        @include breakpoint (smallTablet) {
          font-size: 2.4vw;
        }
      }
    }
  }
}
