.service-form {
  margin-top: 10vw;
  background: $serviceFormBg;
  padding: 10vw 0 10vw;

  .form-content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    @include breakpoint (mobile) {
      width: 70%;
    }

    @include breakpoint (smallTablet) {
      width: 39%;
      margin: 0 auto;
    }

    @include breakpoint (tablet) {
      width: 39%;
    }

    @include breakpoint (laptop) {
      width: 29%;
    }

    h3 {

      color: $serviceFormHeader;
      font-family: $headingFontFamily;
      font-weight: 500;

      @include breakpoint (mobile) {
        font-size: 4.5vw;
        text-align: left;
      }

      @include breakpoint (smallTablet) {
        font-size: 3vw;
        text-align: left;
      }

      @include breakpoint (laptop) {
        font-size: 2vw;
        text-align: left;
      }
    }

    p {
      color: $serviceFormParagraf;
      padding-top: 2vw;
      font-family: $bodyFontFamily;
      font-weight: 400;

      @include breakpoint (mobile) {
        font-size: 3vw;
        text-align: left;
        padding-top: 4vw;
      }

      @include breakpoint (smallTablet) {
        font-size: 2vw;
      }

      @include breakpoint (laptop) {
        font-size: 1.3vw;
      }


    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 2.4vw;

      input {
        border: none;
        border-bottom: 1px solid $serviceForm;

        &::placeholder {
          color: $serviceForm;
        }

        &[type="text"] {
          background: transparent;
          font-size: 18px;
          padding-bottom: 11px;
          font-family: $bodyFontFamily;
          font-weight: 400;

          @include breakpoint (mobile) {
            font-size: 3vw;
          }

          @include breakpoint (smallTablet) {
            font-size: 2vw;
          }

          @include breakpoint (laptop) {
            font-size: 1.3vw;
          }
        }

        &:nth-child(2) {
          margin-top: 22px;
        }
      }
    }
  }
}
