.service-home-img {
  margin-top: 4.5vw;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;

  }

  .service-home-content {
    position: relative;
    padding-top: 11vw;

    @include breakpoint (mobile) {
      padding: 11vw 2rem 0;
    }

    @include breakpoint (smallTablet) {
      padding: 11vw 2rem 0;
    }

    @include breakpoint (desktop) {
      padding: 11vw 0 0;
    }


    h1 {
      color: $serviceHomeHeading;
      font-size: 9vw;
      font-family: $headingFontFamily;
      font-weight: 500;
      margin-bottom: 3.4vw;
    }

    .service-home-box {
      background: $serviceHomeBg;
      width: 40vw;
      padding: 6.5vw 5vw 10vw 6vw;

      @include breakpoint (mobile) {
        width: 70%;
      }

      @include breakpoint (smallTablet) {
        width: 40vw;
      }

      p {
        font-size: 2.6vw;
        color: $serviceHomeHeading;
        font-family: $bodyFontFamily;
        font-weight: 400;

        @include breakpoint (mobile) {
          font-size: 2.7vw;
        }

        @include breakpoint (smallTablet) {
          font-size: 2.4vw;
        }
      }
    }
  }
}
