.service-intro {
  padding: 30vw 2vw 0;
  display: flex;
  justify-content: space-between;

  @include breakpoint (mobile) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @include breakpoint (smallTablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .service-intro-content {
    flex-basis: 33%;

    @include breakpoint (mobile) {
      width: 70%;
      margin: 0 auto;
    }

    @include breakpoint (smallTablet) {
      flex-basis: 33%;
    }

    p {
      font-size: 18px;
      color: $serviceHomeParagraf;
      font-family: $bodyFontFamily;

      @include breakpoint (mobile) {
        text-align: left;
        margin: 10px 10px;
      }
    }
  }

}
