.service-form {
  margin-top: 10vw;
  background: $serviceFormBg;
  padding: 10vw 0 10vw;

  .form-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 29%;

    @include breakpoint (mobile) {
      width: 70%;
    }

    @include breakpoint (smallTablet) {
      width: 49%;
    }

    @include breakpoint (tablet) {
      width: 39%;
    }

    @include breakpoint (tablet) {
      width: 29%;
    }

    h3 {
      font-size: 24px;
      color: $serviceFormHeader;
      font-family: $headingFontFamily;

      @include breakpoint (mobile) {
        font-size: 5vw;
        text-align: left;
      }

      @include breakpoint (smallTablet) {
        font-size: 3vw;
        text-align: left;
      }

      @include breakpoint (tablet) {
        font-size: 24px;
        text-align: left;
      }
    }

    p {
      font-size: 18px;
      color: $serviceFormParagraf;
      padding-top: 2vw;

      @include breakpoint (mobile) {
        font-size: 3vw;
        text-align: left;
        padding-top: 4vw;
      }

      @include breakpoint (smallTablet) {
        font-size: 2vw;
      }

      @include breakpoint (laptop) {
        font-size: 18px;
      }


    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 2.4vw;

      input {
        border: none;
        border-bottom: 1px solid $serviceForm;
        color: $serviceForm;

        &[type="text"] {
          background: transparent;
          font-size: 18px;
          color: $serviceForm;
          padding-bottom: 11px;

          @include breakpoint (mobile) {
            font-size: 3vw;
          }

          @include breakpoint (smallTablet) {
            font-size: 2vw;
          }
        }

        &:nth-child(2) {
          margin-top: 22px;
        }
      }
    }
  }
}
